{% extends "default/module.html.jinja2" %}

{% block module_contents %}
  {# top-level members of this module #}
  {% for obj in module.flattened_own_members if is_public(obj) | trim %}
    <section id="{{ obj.qualname or obj.name }}">
      {{ member(obj) }}

      {# if it's a class, only render its functions (no variables) #}
      {% if obj.kind == "class" %}
        {% for fn in obj.own_members
              if fn.kind == "function" and is_public(fn) | trim %}
          <div id="{{ fn.qualname }}" class="classfunc">
            {{ member(fn) }}
          </div>
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}