{% extends "default/module.html.jinja2" %}

{% macro nav_members(members) -%}
  <ul class="memberlist">
    {%- for m in members if is_public(m) | trim and m.kind != "variable" %}
      <li>
        {% if m.kind == "class" %}
          <a class="class" href="#{{ m.qualname }}">{{ m.qualname }}</a>
          {{ nav_members(m.own_members) | indent(12) }}
        {% elif m.kind == "module" %}
          <a class="module" href="#{{ m.name }}">{{ m.name }}</a>
        {% elif m.name == "__init__" %}
          <a class="function" href="#{{ m.qualname }}">
            {{ m.qualname.split(".")[-2] }}
          </a>
        {% else %}
          <a class="{{ m.kind }}" href="#{{ m.qualname }}">{{ m.name }}</a>
        {% endif %}
      </li>
    {%- endfor %}
  </ul>
{%- endmacro %}

{% block module_contents %}
  {# top-level members of this module #}
  {% for obj in module.flattened_own_members if is_public(obj) | trim %}
    <section id="{{ obj.qualname or obj.name }}">
      {{ member(obj) }}

      {# if it's a class, only render its functions (no variables) #}
      {% if obj.kind == "class" %}
        {% for fn in obj.own_members
              if fn.kind == "function" and is_public(fn) | trim %}
          <div id="{{ fn.qualname }}" class="classfunc">
            {{ member(fn) }}
          </div>
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}